<!DOCTYPE html>
<html ng-app='app'>
<head>
    <title>Raphael Abac</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller='todoCtrl'>
    <div class='container'>

        <div class='row'>
            <div class='col-md-12'>
                <h5>{{ (todoList | filter: {completed:false}).length}} pending task(s)</h5>
                <form id='todo-form' ng-submit='add()'>
                    <div class="form-group">
                        <input type='text' id='new-todo' ng-model='newContent' class="form-control" placeholder="What you need to do ?"/>
                    </div>
                </form>
            </div>
        </div>

        <div class='row' id="todo-list">
            <div class='todo-item col-md-12' ng-repeat='todo in todoList track by todo.id| orderBy: createdAt' ng-class='{completed: todo.completed}'>
                <input type='checkbox' ng-model='todo.completed' ng-click='toggleCompleted()'/>
                <span class='todo-content'>{{todo.content}}</span>
                <a class='btn-remove-todo pull-right' ng-click='remove(todo)'><i class='glyphicon glyphicon-remove'></i> </a>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div id='toolbar'>
                    <a id="btn-remove-all"
                        ng-click='removeAll()'
                        class='btn btn-small btn-default pull-right'
                        ng-show="todoList.length > 0">
                        <i class="glyphicon glyphicon-remove"></i> Clear all
                    </a>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/todoCtrl.js"></script>
    <script type="text/javascript" src="app/todoStorage.js"></script>
</body>
</html>